header.header#header
    +menu-line
    .section-content.header-content
        p.section-content__promo SOCIAL MARKETING &#38; ANALYTICS
        h1.header-content__title Pricing Table
        p.section-content__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        a.section-content__arrow(href="#main")
            span.section-content__arrow-icon