doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MISOCIAL - Social Marketing Analutics
        link(rel="stylesheet", href="css/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    body 
        include components/sprite.pug
        include helpers/vars.pug
        include helpers/mixins.pug
            
        include components/header.pug

        main#main
            .main-content
                p.main-content__promo MIsocial
                h1.main-content__title Select a Plan
                p.main-content__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .broshure
                .wrapper.main-flex
                    +card('0', '#card_img_one')
                    +card('29', '#card_img_two')
                    +card('49', '#card_img_three')
            .main-info 
                p.main-info__promo SOCIAL MARKETING &#38; ANALYTICS 
                h2.main-info__title Take control of your data
                .main-info__nav 
                    a(href="#").main-info__nav-button.main-info__nav-button-first get started
                    a(href="#").main-info__nav-button explore features
        include components/footer.pug

        script(src="js/scripts.js")